.section{
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    gap: 15px;
}

.title{
    color: #52BFFF;
    font-family: sans-serif;
    font-weight: bolde;
    font-size: 44px;
}

.text{
    width: 30%;
    font-size: 20px;
    text-align: center;
    color: #7A7A7A;
    font-family: sans-serif;
}

.words{
    font-weight: bold;
    color: #5a5a5a;
}

.top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.bottom{
    width: 80%;
    height: 240px;
    position: relative;
}

.slider{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 5px;
    gap: 15px;
    position: relative;
    transition: .5s;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}

.box{
    min-width: 270px;
    height: 220px;
    border-radius: 25px;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .3s;
}

.box:hover{
    filter: brightness(1.1);
}

.imga{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px){
    .text{
        width: 60%;
    }
}

@media screen and (max-width: 500px){
    .text{
        width: 80%;
    }
}

.slider::-webkit-scrollbar{
    display: none;
}

.right{
    width:120px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: 0;
    cursor: pointer;
}

.left{
    width:120px;
    position: absolute;
    top: 50%;
    transform:  translate(-50%,-50%) rotate(180deg);
    left: 0;
    cursor: pointer;
}

.forImg{
    width: 100%;
    height: 80%;
}

.forText{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}

.boxTitle{
    font-size: 20px;
    color: #7A7A7A;
    font-family: sans-serif;
}

.boxText{
    font-size: 16px;
    color: #c7c7c7e7;
    font-family: sans-serif;
}

@media screen and (max-width: 500px){
    .right{
        width: 100px;
        transform: translate(60%,-50%);
    }

    .left{
        width: 100px;
        transform: translate(-60%,-50%) rotate(180deg);
    }

    .bottom{
        width: 83%;
    }
}